.a1{
    width: 300px;
    border: 15px;
    margin: 20px;
    margin-bottom: 50px;
}

.a2{
    width: 300px;
    border: 15px;
    margin: 20px;
    margin-bottom: 50px;
}

.a3{
    width: 300px;
    border: 15px;
    margin: 20px;
    margin-bottom: 50px;
}

.a4{
    width: 300px;
    border: 15p;
    margin: 20px;
}